<div class="header-container">
  <div class="left-part padding">
    <div class="total">{{total | currency}}</div>
  </div>
  <div class="middle-part">
    <b class="order">Order</b>
  </div>
  <div class="right-part padding">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15 5C15 7.76142 12.7614 10 10 10C7.23857 10 5 7.76142 5 5C5 2.23858 7.23857 0 10 0C12.7614 0 15 2.23858 15 5ZM10 10C15.5228 10 20 14.4772 20 20H0C0 14.4772 4.47716 10 10 10Z" transform="translate(1 1)" stroke="white" stroke-width="2"/>
    </svg>
  </div>
</div>
