:host {
  display: block;
}

.location {
  color: #5B6F81;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #48B3E2;
  font-size: 10px;
  font-weight: bold;
  padding: 8px 20px;
  margin-bottom: 20px;
}

.margin {
  margin: 5px auto;
}

.block {
  display: block;
}
