:host {
  display: block;
}

.option {
  padding: 10px 5%;
  border-bottom: 1px solid #f4f4f4;
  color: #5B6F81;
  text-align: left;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.left {
  flex-grow: 1;
}

.location {
  color: #5B6F81;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #48B3E2;
  font-size: 10px;
  font-weight: bold;
  padding: 8px 20px;
  margin-bottom: 20px;
}

.margin {
  margin: 5px auto;
}

.active {
  fill: #8198AC;
}
