<capp-header [total]="( offer$ | async)?.total"></capp-header>

<capp-step [left]="true" [right]="false" title="FINAL STEP"></capp-step>

<div class="home-container">
  <h3 class="step-title">Choose time</h3>
</div>

<div class="services-container margin-5-percent">
  <div class="service-group">
    <div class="service single">

      <capp-option value="08:00-12:00" (chooseTime)="chooseTime($event)" [active]="( offer$ | async)?.time === '08:00-12:00'"></capp-option>

      <capp-option value="12:00-14:00" (chooseTime)="chooseTime($event)" [active]="( offer$ | async)?.time === '12:00-14:00'"></capp-option>

      <capp-option value="14:00-20:00" (chooseTime)="chooseTime($event)" [active]="( offer$ | async)?.time === '14:00-20:00'"></capp-option>

    </div>
  </div>
  <div class="space-between"></div>
  <div class="home-container">
    <h3 class="step-title">Where to clean</h3>

    <button class="location">GET MY LOCATION</button>
  </div>
  <div class="service-group">
    <div class="service single">
      <capp-input type="text" placeholder="Name"></capp-input>
      <capp-input class="margin block" type="text" placeholder="Name"></capp-input>
      <capp-input class="margin block" type="text" placeholder="City"></capp-input>
      <capp-input class="margin block" type="text" placeholder="Mobile"></capp-input>
      <capp-input class="margin block" type="email" placeholder="Email"></capp-input>
      <capp-input class="margin block" type="text" placeholder="Your notes"></capp-input>
    </div>
  </div>

  <div class="space-between"></div>

  <div class="service-group">
    <div class="service single">

      <capp-option value="I’ll be home" (chooseTime)="chooseTime($event)" [active]="( offer$ | async)?.waitingAtHome"></capp-option>

      <capp-option value="Keys with security" (chooseTime)="chooseTime($event)" [active]="( offer$ | async)?.keysAndSecurity"></capp-option>

      <capp-option value="Keys under doormat" (chooseTime)="chooseTime($event)" [active]="( offer$ | async)?.keyUnderDoormat"></capp-option>

    </div>
  </div>

  <div class="space-between"></div>

</div>

<capp-button type="primary" label="GO TO ORDER"></capp-button>
