<div class="buttons-group">
  <div class="left">
    <svg (click)="decrease.next(1)" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" transform="translate(1 1)" stroke="#8198AC" stroke-width="2"/>
      <path d="M0 1H10" transform="translate(8 12)" stroke="#8198AC" stroke-width="2" stroke-linecap="square"/>
    </svg>
  </div>
  <div class="center">{{counter}} {{title}}</div>
  <div class="right">
    <svg (click)="increase.next(1)" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" transform="translate(1 1)" stroke="#8198AC" stroke-width="2"/>
      <path d="M0 1H10" transform="translate(8 12)" stroke="#8198AC" stroke-width="2" stroke-linecap="square"/>
      <path d="M1 10V0" transform="translate(12 8)" stroke="#8198AC" stroke-width="2" stroke-linecap="square"/>
    </svg>
  </div>
</div>
